{
    "tabWidth": 4,
    "useTabs": true,
    "singleQuote": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "arrowParens": "avoid",
    "proseWrap": "never",
    "semi": false
}