{
	"printWidth": 120,
	"tabWidth": 2,
	"useTabs": false,
	"singleQuote": true,
	"trailingComma": "none",
	"bracketSpacing": true,
	"jsxBracketSameLine": true,
	"arrowParens": "always",
	"proseWrap": "never",
	"semi": false,
	"singleAttributePerLine": true
}